       /* This thing you replace with page styles */
       #corner-logo {
        position: fixed;
        top: 5px;
        left: 5px;
        width: 100px;
    }

    /* This (and <div class="page">) you remove completely */
    /* (it's just to test fro scrollable page) */
    .page {
        height: 300vh;
    }


    /* This you keep but change the HEX color for your need */
    #corner-logo .filled {
        fill: #222222;
    }
    #corner-logo .stoked {
        stroke-width: .5;
        fill: none;
        stroke: #222222;
    }