{{ partial "header-home.html" . }}
<!-- normal list (home) template -->

<main class="fadein">
  <article>
    {{ .Content }}
  </article>

  <div id="a1">

    {{ $pages := .Pages }}

    <div id="a2">
      Latest news:
      <ul>
        {{ range first 3 (where (where .Site.RegularPages "Section" "news") "Permalink" "!=" .Page.Permalink) }}
        <li>
          <span class="date">{{ .Date.Format "Jan 2006" }}</span>
          <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </li>
        {{ end }}
      </ul>
      <a href="news">All news</a>.

      <hr>
      Recent projects:
      <ul>
        {{ range first 3 (where (where .Site.RegularPages "Section" "projects") "Permalink" "!=" .Page.Permalink) }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </li>
        {{ end }}
      </ul>
      <a href="projects">All projects</a>.
      <br><br>
      <!-- <i><small><a href="https://curious-electric.com/w/v0/">Where's the old page?</a></small></i>. -->

      <hr>
      <div class="description">Subscribe to our low volume newsletter without spam.<br></div>
      <form id="subscribe-form" method="post" action="https://us4.list-manage.com/subscribe/post?u=5ca334c435f42ae17ae136f01&amp;id=f47da503a8" target="_blank">
        <div class="email-group">
          <label for="email" class="sr-only">Email</label>
          <input type="email" id="email" name="EMAIL" value="" placeholder='email@example.com' />
          <button class="button" type="submit">Subscribe</button>
        </div>
      </form>
      <hr>
      <br><br>
      <a href="imprint/">contact and imprint</a>
    </div>
  </div>


</main>


{{ partial "footer.html" . }}