{{ partial "header.html" . }}


<!-- <img src="../img/bot.svg" class="mr-2" alt="Curious Electric" width="45"> -->

<!-- list (_default) template -->

<main class="fadein">
  <h1>{{ .Title | markdownify }}</h1>
  <article>
    <!-- content-start -->
    {{ .Content }}
    <!-- content-end -->
  </article>

  {{ $pages := .Pages }}

  {{ if eq .Page.Title "Projects"}}
  <ul>
    {{ $.Scratch.Set "counter" 0 }}
    {{ range (where (where .Site.RegularPages "Section" "projects") "Permalink" "!=" .Page.Permalink) }}

    <li class="preview-item">
      <div>
        <!-- {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
        I am the number {{$.Scratch.Get "counter"}} in loop! -->
        {{ if .Params.image }}
        {{ $image := .Params.image }}
        <img src='{{ $image }}' class="preview">
        {{end}}
      </div>
      <div>
        <!-- <a href="{{ .RelPermalink }}"> aaa {{ .Title | markdownify }}</a> -->
        <a href="{{ .Permalink }}"> {{ .Title | markdownify }}</a>
        <!-- {{ if .Params.abstract }}{{ .Params.abstract }}{{ end }} -->
        <p>
          <!-- {{ .Params.abstract }} -->
          {{ safeHTML .Summary }}
        </p>
        <div class="date">{{ .Date.Format "2006/01" }}</div>
      </div>
    </li>
    {{end}}
  </ul>
  {{ end }}



  {{ if eq .Page.Title "News"}}

  <i>Note: Youtube links are not embedded for privacy reasons.</i>

  <ul class="news-list">
    {{ range .Data.Pages }}
    <hr>
    <li>
      <span class="news-date">{{ .Date.Format "2006/01/02" }}</span>
      <!-- <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a> -->
      {{ .Content }}

    </li>
    {{ end }}
  </ul>
  {{ end }}

  {{ if eq .Page.Title "About"}}

  <ul class="news-list">
    {{ range .Data.Pages }}
    <hr>
    <li>
      <!-- <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a> -->
      {{ .Content }}

    </li>
    {{ end }}
  </ul>
  {{ end }}


</main>


{{ partial "footer.html" . }}