




<!-- <div>
  {{ if .IsTranslated }}
  <h4>{{ i18n "translations" }}</h4>
  <ul>
    {{ range .Translations }}
    <li>
      <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}{{ if .IsPage }} {{ end }}</a>
      <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}{{ if .IsPage }} ({{ i18n "wordCount" . }}){{ end }}</a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</div> -->
<footer>
  <p>
    {{ with .Site.Params.footer }}
    {{ replace . "{Year}" now.Year | markdownify}}
    {{ end }} (v1.02)
  </p>
</footer>
  <!-- <script src="{{"../temp.js"|relURL}}"></script> -->
  </body>
</html>
